*{
font-family: 'Bebas Neue', cursive;
font-size: 20px;
margin: 0;
padding: 0;     
}
html{
    font-family:'Bebas Neue',cursive;    
    }
body{
background-color: black;
color: azure;      
}
.header1{
    font-size:xx-large;
    color: azure;
}
nav li{
    display:inline-block;
        width:auto;
        height: auto;
        
        padding:5px 10px;
        background-color:gray;
        border:2px solid red;
        text-align:justify;
        justify-items:center;
        color:azure;
        text-decoration: none;
        border-radius:8%;
        }
.background{
background-color: whitesmoke;    
}        
nav li:hover{
background-color:#121312;
color:red;
 }
.links{
color:red;
text-decoration: none;
margin: 0em 1em;    
}
.h1{
color: azure;   
}
footer{
background-color:#30302f;    
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.ubicacion{
    margin: 5px;
    height: fit-content;
    width:fit-content;    
    }
.footerTitle{
    color: azure;
}
.footerLink{
color: red;   
text-decoration: none;
}
.footerLink:hover{
color: purple;    
opacity: 0.7;
}
.copyrights{
color: azure;
margin:5px;   
}        