*{
font-family:'Bebas Neue',cursive;
font-size: 20px;
margin: 0;
padding: 0;
}
html{
font-family:'Bebas Neue',cursive;    
}
.body{
background-color: black;  
}
nav li{
        display:inline-block;
        width:10%;
        padding:5px 10px;
        background-color:gray;
        border:2px solid red;
        text-align:center;
        color:azure;
        text-decoration: none;
        border-radius:8%;     
    }
    nav li:hover{
    background-color:#121312;
    color:#000;
    }
    .links{
    color:red;
    text-decoration: none;      
    }
.main{
display: grid;

}


    .orderedList{
color: azure;
font-weight: 300;
}
.header{
    font-size:xx-large;
    color: azure;
    font-family: 'Bebas Neue', cursive;
    }
.paragraph{
color: azure;
height: 200px;
width: 300px;
left: 30px;
display: inline-block;
overflow: hidden;
margin: 5px 10px;    
}
.imagenes{
display:inline-flex;
justify-content: space-around;
position: relative;


}
.strong{
color: red;
}
.form{
color: azure;    
}
.email{
color: black;
border-radius: 3px;
border-color: red;   
}
.submit{
background-color: black;
color: azure;
border-color: red;
border-radius: 2px;   
}
footer{
background-color:#30302f;    
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.ubicacion{
    margin: 5px;
    height: fit-content;
    width:fit-content;    
}
.footerTitle{
    color: azure;
}
.footerLink{
color: red;
text-decoration: none;
padding: 5px;   
}
.footerLink:hover{
color: purple;    
}
.copyrights{
color: azure;   
}
