*{
font-family:'Bebas Neue',cursive;
font-size: 20px;
margin: 0px;
padding: 0%;
}
html{
font-family:'Bebas Neue',cursive;    
}
.body{
background-color: black;  
}
nav li{
    display:inline-block;
        width:10%;
        padding:5px 10px;
        background-color:gray;
        border:1px solid #000;
        text-align:center;
        color:azure;
        text-decoration: none;     
    }
    nav li:hover{
    background-color:#121312;
    color:#000;
    }
    .links{
    color:red;
    text-decoration: none;      
    }
.orderedList{
color: azure;
font-weight: 300;
}
.header{
    font-size:xx-large;
    color: azure;
    font-family: 'Bebas Neue', cursive;
    }
.paragraph{
color: azure;
height: 200px;
width: 300px;
left: 30px;
display: inline-block;
overflow: hidden;
margin: 5px 10px;    
}
.guts{
height: 100%; 
width:100%;
left: 0px;
top: 0px;

}
.strong{
color: red;
}
.form{
color: azure;    
}
.email{
color: black;   
}
.submit{
background-color: black;
color: azure;    
}
footer{
    background-color:#30302f;    
    }
.footerTitle{
    color: azure;
}
.footerLink{
color: red;   
}
.copyrights{
color: azure;   
}
