*{
    font-family:'Bebas Neue',cursive;
    font: size 40px;
    margin: 0;
    padding: 0;
}
.body{
    background-color: black;
}
.navbar{
background-color: azure;
color: red;   
}    
.index{
color: red;
font-size:50px;
}

.active{
color: black;  
font-size: 25px;
}
.navbar-toggler{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.ul:hover{
color: red;    
}
.me-2{
border-radius: 7%;
}
.btn{
background-color: black;
color: azure;
border-radius: 10%;
border-color: red;
border-width:3.5px;
}
.btn:hover{
border-color: black;
background-color: red;
color:azure    
}
.whatsapp:hover{
    color: purple;    
    opacity: 0.7;
}
.header{
color: red;
margin-top: 1%;
font-size:  30px;    
}
.paragraph{
display:inline-flex;
flex-direction: row;
flex-wrap: wrap;
color: azure;
height:auto;
width: 30%;
font-size: large;
margin: 1em;

}
.hr{
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 30%;    
}
.hr2{
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 60%;    
}
.card-text{
color: black;
font-size: 20px;
}
.libros{
display:flex;  
flex-direction:row; 
justify-content:space-evenly;
}
.footer{
    background-color:#30302f;  
    color: azure;  
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.ubicacion{
    margin: 5px;
    height: fit-content;
    width:fit-content;    
}
.footerColumn{
display: flex;
flex-direction:column;
flex-wrap: wrap;
}
.footerLink{
    color: red;
    text-decoration: none;    
}
.footerLink:hover{
    color: black;    
    opacity: 0.7;
    }
.copyrights{
color: azure; 
display: flex;
margin: 1em;
flex-direction: column; 
flex-wrap: nowrap;   
}
.email{
display: inline-flex;    
}
.submit{
    background-color: black;
    color: azure;
    border-radius: 10%;
    border-color: red;
    border-width:3.5px;
    margin-left:1em;
}
.span{
color: black;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}




@media (min-width: 576px) {

}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}